@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --primary-white-color: #ffffff;
  --footer-dark-color: #2F303A;
  --subtitle-background: #f5f4fa;
  --icon-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
.link {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address */
address {
  font-style: normal;
}

ul {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.logo {
  color: var(--accent-color);
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-accent {
  color: var(--title-text-color);
}

.header {
  outline: 1px solid #ECECEC;
}
.header__container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__list {
  margin-left: 93px;
  padding-left: 0;
}
.header__item {
  position: relative;
  display: inline-block;
}
.header__link {
  font-weight: 500;
  line-height: 1.14;
  display: inline-block;
  color: var(--title-text-color);
  text-decoration: none;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts__item {
  display: inline-block;
}
.contacts__link {
  font-weight: 500;
  line-height: 1.14;
  color: var(--primary-text-color);
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-color);
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}
.contacts__icon:hover {
  color: var(--accent-color);
}

.hero__title {
  display: block;
  width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.section-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.button {
  min-width: 200px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-white-color);
  background: var(--accent-color);
  border: none;
  cursor: pointer;
  text-align: center;
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  letter-spacing: 0.06em;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.header__logo-accent-text {
  color: var(--primary-white-color);
}

.header__list,
.header__main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.current::after {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.header__link:hover,
.header__link:focus {
  color: var(--accent-color);
}

.header__list .header__item + .header__item {
  margin-left: 50px;
}

.contacts .contacts__item + .contacts__item {
  margin-left: 50px;
}

.header__link.current {
  color: var(--accent-color);
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background: var(--footer-dark-color);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/cta-section.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/cta-section.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 200px 0;
}

.hero__button:hover,
.hero__button:focus {
  background-color: #188ce8;
  color: #FFFfFF;
}

.work-page {
  padding-top: 94px;
}

.subtitle-list.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subtitle-item {
  width: 270px;
}

.subtitle-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.subtitle-text {
  line-height: 1.71;
  color: var(--primary-text-color);
  margin-bottom: 0;
}

.subtitle-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--subtitle-background);
  border-radius: 4px;
}

.activities-page {
  padding-top: 0;
}

.activities-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.activities-img {
  display: block;
}

.activities-item {
  display: block;
}

.activities-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.activities-overlay {
  position: relative;
}

.activities-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
  margin-bottom: 0;
}

.team-page {
  background-color: #F5F4FA;
}

.section-title {
  color: var(--title-text-color);
  display: block;
  margin-bottom: 50px;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team-item {
  background: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-info {
  padding: 30px 0;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
  text-align: center;
  color: var(--title-text-color);
}

.team-specialty {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
}

ul {
  list-style: none;
}

.team-icon {
  fill: var(--icon-color);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.social-link:hover,
.social-link:focus {
  background-color: #2196f3;
}

.social-link:hover .team-icon,
.social-link:focus .team-icon {
  fill: var(--primary-white-color);
}

.team-socials-item {
  margin-right: 10px;
}

.team-socials-item:last-child {
  margin-right: 0;
}

.clients-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-text-color);
  display: block;
  margin-bottom: 50px;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
  margin: 0;
}

.rectangle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}

.clients-icon {
  fill: var(--icon-color);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}

.clients-link:hover .rectangle,
.clients-link:focus .rectangle {
  border-color: var(--accent-color);
}

.page-footer {
  padding: 60px 0;
  background: var(--footer-dark-color);
}

.footer-left .footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-left {
  min-width: 231px;
  margin-right: 70px;
}

.logo-footer {
  color: var(--accent-color);
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-bottom: 20px;
}

.contact-footer a {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.contact-footer .address-item + .address-item {
  margin-top: 9px;
}

.info {
  color: rgba(255, 255, 255, 0.6);
}

.info:hover,
.info:focus {
  color: var(--accent-color);
}

.contact-footer .map {
  color: var(--primary-white-color);
}

.footer-right {
  min-width: 206px;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.footer .team-icon {
  fill: var(--primary-white-color);
}

.footer-left {
  min-width: 231px;
  margin-right: 70px;
}

.footer-socials {
  padding-left: 0px;
  padding-right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-social-icon {
  fill: var(--primary-white-color);
}

.social-link:hover .footer-social-icon,
.social-link:focus .footer-social-icon {
  fill: var(--primary-white-color);
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.appeal,
.subscribe-form-label {
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--primary-white-color);
  font-weight: 700;
  line-height: 1.14;
}

.footer-social-item {
  margin-right: 10px;
}

.footer-social-item:last-child {
  margin-right: 0;
}

.subscribe {
  margin-left: auto;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscribe-form-input-raw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe-form-svg {
  margin-left: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe-form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 16px;
  margin-right: 12px;
  min-width: 358px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: inherit;
  color: var(--primary-white-color);
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}

.subscribe-form-input:focus {
  border: 1px solid var(--primary-white-color);
  outline-width: 0px;
}

.subscribe-form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 200px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-white-color);
  background: var(--accent-color);
  border: none;
  cursor: pointer;
  text-align: center;
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  letter-spacing: 0.06em;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.subscribe-form-btn:hover,
.subscribe-form-btn:focus {
  background-color: #188ce8;
  color: #FFFfFF;
}

.portfolio {
  padding: 94px 0;
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.filter-list .filter-item + .filter-item {
  margin-left: 8px;
}

.button-filt {
  font-family: inherit;
  color: var(--title-text-color);
  background: #F5F4FA;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  -webkit-transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}

.button-filt.active {
  color: var(--primary-white-color);
  background: var(--accent-color);
}

.button-filt:hover,
.button-filt:focus {
  cursor: pointer;
  background: var(--accent-color);
  color: var(--primary-white-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.works-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works-item {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.works-item:nth-child(3n) {
  margin-right: 0px;
}

.works-item:nth-child(n+7) {
  margin-bottom: 0px;
}

.works-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay-text {
  position: absolute;
  bottom: 0;
  padding: 63px 24px;
  margin-bottom: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

.works-item:hover .portfolio-overlay-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.works-name {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 24px;
  border: 1px solid #eeeeee;
  border-top-width: 0px;
}

.works-title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
  margin-bottom: 0;
}

.portfolio-link {
  display: block;
  text-decoration: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}

.portfolio-link:hover,
.portfolio-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(2);
          transform: translate(-50%, -50%) scale(2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

.close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-white-color);
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.close-btn:hover,
.close-btn:focus {
  fill: var(--accent-color);
}

.modal-form {
  padding: 40px;
}

.modal-form-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}

.modal-form-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-form-input {
  display: block;
  margin-top: 4px;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: var(--title-text-color);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-input:focus {
  border: 1px solid var(--accent-color);
  outline-width: 0px;
}

.textarea {
  resize: none;
  height: 120px;
  padding: 12px 16px;
}

.modal-form-field {
  position: relative;
  margin-bottom: 10px;
}

.modal-form-comment {
  margin-bottom: 20px;
}

.checkbox-area {
  margin-bottom: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkbox-link {
  padding-left: 0.3rem;
  line-height: 1.71;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: var(--accent-color);
}

.checkbox-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: inherit;
  border: 2px solid var(--title-text-color);
  color: var(--primary-white-color);
  border-radius: 4px;
  margin-right: 8px;
  background-image: none;
  -webkit-transition: background-color 250ms var(--timing-function), border-color 250ms var(--timing-function), background-image 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), border-color 250ms var(--timing-function), background-image 250ms var(--timing-function);
}

.checkbox-input:checked + .checkbox-icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url("../images/checkmark.svg");
  background-size: contain;
  background-origin: border-box;
}

.modal-form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border-width: 0px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: #188ce8;
  color: #FFFfFF;
}/*# sourceMappingURL=main.css.map */