.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $footer-background;
}

.footer__logo {
    margin: 0px 0px 20px 0px;
    padding: 0;
    color: $footer-color;
}

.footer__address {
    color: $footer-color;
    font-style: normal;
    line-height: 1.71;

    @media screen and (max-width: 767px) {
        margin-bottom: 60px;
    }
}
.footer__map {
    margin-bottom: 20px;
    color: var(--primary-white-color);
    line-height: 1.14;
    text-decoration: none;
}

.footer__item:nth-child(-n + 2) {
    margin-bottom: 9px;
}

.footer__link {
    text-decoration: none;
    color: $footer-contacts;
    transition: color 250ms $timing-function;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.footer__contacts {
    min-width: 231px;

    @media screen and (min-width: 768px) {
        margin-right: 165px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 70px;
    }
}

.footer__socials {
    min-width: 206px;
}

.footer__socials-link {
    background-color: rgba(255, 255, 255, 0.1);
    fill: $footer-color;
}

.footer__subscribe {
    @media screen and (min-width: 1200px) {
        margin-left: auto;
    }
}

.footer__container {
    display: flex;
    flex-direction: column;
    text-align: center;

    @media screen and (min-width: 1200px) {
        flex-direction: row;
        align-items: baseline;
        text-align: left;
    }
}

.footer__contacts-socials {
    display: flex;
    justify-content: center;
    align-items: baseline;

    @media screen and (max-width: 767px) {
        flex-direction: column;
        align-items: center;
    }

    @media screen and (max-width: 1199px) {
        margin-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        align-items: baseline;
    }
}

.footer__cta {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: $footer-color;
    font-weight: 700;
    line-height: 1.14;
}

.footer__form {
    display: flex;
    flex-direction: column;
}

.footer__input-wrap {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 1200px) {
        flex-direction: row;
    }
}

.button__icon {
    margin-left: 10px;
}

.footer__input {
    padding: 0px 16px;
    margin: 0px 0px 20px 0px;

    @media screen and (min-width: 767px) {
        width: 450px;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: 1200px) {
        margin: 0px 12px 0px 0px;
        width: 358px;
    }

    height: 50px;

    font-size: 16px;
    line-height: 1.25;
    letter-spacing: inherit;
    color: $footer-color;
    background-color: inherit;

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    &:focus {
        border: 1px solid $footer-color;
        outline-width: 0px;
    }
}