.button {
    min-width: 200px;
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    color: var(--primary-white-color);
    background: var(--accent-color);
    border: none;
    cursor: pointer;
    text-align: center;
    border: 1px solid transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: inherit;
    letter-spacing: 0.06em;
    transition: background-color 250ms var(--timing-function);
}